<app-navbar title="Students"></app-navbar>
<div class="add-btn-container">
    <button (click)="addNewStudent()" class="btn">Add New &nbsp;<fa-icon [icon]="faPlus"></fa-icon></button>
  </div>
  <div class="table-container">
      <table id="student-table">
          <tr>
            <th>Name</th>
            <th>Student ID</th>
            <th>DOB</th>
            <th>Religion</th>
            <!-- <th>Address</th>
            <th>Modules Taught</th>
            <th>Classes Taught</th> -->
            <th style="width: 50px;"></th>
            <th style="width: 50px;"></th>
          </tr>
          <tr *ngFor="let student of studentData">
            <td>{{student.name}}</td>
            <td>{{student.id}}</td>
            <td>{{2022 - student.age}}</td>
            <td>{{student.religion}}</td>
            <!-- <td>Sample Data</td>
            <td>Sample Data</td>
            <td>Sample Data</td> -->
            <td id="student-edit-{{student.id}}" (click)="editStudent(student.id)" style="text-align: center;"><fa-icon  class="edit-icon" [icon]="faPenSquare"></fa-icon></td>
            <td id="student-delete-{{student.id}}" (click)="deleteStudent(student.id)" style="text-align: center; color: #FC4F4F;"><fa-icon  class="trash-icon" [icon]="faTrash"></fa-icon></td>
          </tr>
      
        </table>
  </div>