<div class="navbar-container">
    <div class="logo-container">
        <img width="200px" src="../assets/white.png">
    </div>
  
    <div class="links-container">
        <a (click)="getTeacherTable()">Teachers</a>
        <p>|</p>
        <a  (click)="getStudentTable()">Students</a>
    </div>
    <div class="blank-space"></div>
</div>
<div class="info-container">
    <!-- <div class="info-text-container">
        <p class="info-text">Hi Maude,</p>
    </div> -->
    <div class="logo-container">
        <p class="info-text">Test</p>
    </div>
    <div class="blank-space"></div>
    <div class="links-container">
        <!-- <a href="#" class="logout" style="color: #272928; font-weight: 500; font-size: 18px;">Edit Profile</a> -->
    </div>

</div>